/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .wp-ali-search-field{
    width: 250px;
    float: left;
    height: 28px;
    margin: 0 4px 10px 0;
 }

 .wp-ali-info-search-label{
    line-height: 3em;
 }


.wp-ali-info-delete > .dashicons{
    font-size: 14px;

}

#wp-ali-info-search-button {
    padding: 0 13px 0px 5px;
}

#wp-ali-info-search-button > .dashicons {
    font-size: 16px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    margin-right: 5px;

}

#priceChart {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background: #efefef
}